body{
	background:#727171;
	margin:0;
	padding:0px;
}


h2{
	background:#adb8c9;
	color:black;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	padding:5px 5px 10px 5px;
	clear:both;
}

header nav ul{
	
}